:root {
  --color-background: rgba(0, 0, 0, 1);
  --color-primary: rgba(255, 255, 255, 1);
  --color-element-accent: rgba(255, 255, 255, 0.6);
  --color-text-accent: rgba(15,120,200, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  line-height: 1.5;
  letter-spacing: .2px;
  font-family: 'sans-serif';
  font-size: 1.1rem;
  min-height: 100vh;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
  border: none;
  color: inherit;   
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  background-color: var(--color-background);
  color: var(--color-primary);
  -webkit-appearance: none;
}

.page-width {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 10px;
}

.hide {
  display: none !important;
}

.form-control {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.form-text {
  margin-bottom: 10px;
}

.header {
  box-shadow: 0px 2px 12px var(--color-element-accent);
  padding: 0 30px;
  height: 10vh;
  display: flex;
  align-items: center;
}

.chatbot__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 90vh;
}

chat-bot {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 1px var(--color-element-accent);
  padding: 20px 30px;
  border-radius: 15px;
  max-width: 800px;
  margin: 50px 20px 30px;
}


.chatbot__heading {
  text-align: center;
  margin-bottom: 15px;
}

.chatbot__intro {
  margin-bottom: 30px;
}

.form__wrapper {
  margin-bottom: 30px;
}

.chatbot__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chatbot__form >*:not(:last-child) {
  margin-right: 15px;
}

.chatbot__input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  display: flex;
  align-items: center;
  color: var(--color-element-accent);
  transform: translateY(-50%);
  transition: all .12s ease-out;
}

.form-control:not(:focus-within) .chatbot__input:not(:placeholder-shown) + .chatbot__input-label {
  transform: translateY(-200%);
  background-color: var(--color-background);
  padding: 0 5px;
  border-radius: 5px;
  font-size: .8em;
  z-index: 3;
}

.chatbot__input::placeholder {
  color: transparent;
}

.form-control:focus-within .chatbot__input::placeholder {
  color: unset;
}

.chatbot__input {
  background-color: transparent;
  flex-grow: 1;
  padding: 20px 0 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px var(--color-element-accent);
  font-size: 16px;
  z-index: 2;
}

.chatbot__input:hover,
.chatbot__submit:hover {
  box-shadow: 0 0 3px 1px var(--color-primary);
  color: var(--color-primary);
}

.form-control:focus-within label {
  transform: translateY(-200%);
  background-color: var(--color-background);
  padding: 0 5px;
  border-radius: 5px;
  font-size: .8em;
  z-index: 3;
}

.chatbot__input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px var(--color-text-accent);
}

.chatbot__submit {
  align-self: stretch;
  padding: 0 20px;
  color: var(--color-element-accent);
  box-shadow: 0 0 3px 1px var(--color-element-accent);
  border-radius: 10px;
}

.chatbot__submit:focus {
  outline: none;
  box-shadow: 0 0 3px 1px var(--color-text-accent);
  color: var(--color-primary);
}

.chatbox {
  flex-grow: 1;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: 0 0 3px 1px var(--color-element-accent);
  padding: 20px 20px;
  border-radius: 10px;
}

.chatbox > *:not(:last-child) {
  margin-bottom: 15px;
}

.chatbox__chat {
  box-shadow: 0 0 3px 1px var(--color-element-accent);
  border-radius: 5px;
  padding: 20px 10px;
}

.chatbox__chat-prompt {
  margin-bottom: 15px;
}

.chatbox__response {
  text-align: right;
}

.chatbox__prompt-author,
.chatbox__response-author {
  color: var(--color-text-accent);
  font-style: italic;
}

.chatbox__prompt-author {
  margin-right: 8px;
}

.chatbox__response-author {
  margin-left: 8px;
}

@media screen and (max-width: 749px) {
  .chatbot__wrapper {
    grid-template-columns: 1fr min-content 1fr;
  }
}