:root {
  --color-background: rgba(0, 0, 0, 1);
  --color-primary: rgba(255, 255, 255, 1);
  --color-element-accent: rgba(255, 255, 255, 0.6);
  --color-text-accent: rgba(15,120,200, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type='text'] {
  background-color: var(--color-background);
  color: var(--color-primary);
}

.page-width {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 10px;
}

.header {
  box-shadow: 0px 2px 12px var(--color-element-accent);
  /* margin-bottom: 50px; */
  padding: 0 30px;
  height: 10vh;
  display: flex;
  align-items: center;
}

.chatbot__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 90vh; */
}

chat-bot {
  box-shadow: 0px 0px 15px 5px var(--color-element-accent);
  padding: 20px 30px;
  border-radius: 15px;
  max-width: 400px;
  height: 100%;
  margin: 50px 20px 30px;
}


.chatbot__heading {
  text-align: center;
  margin-bottom: 15px;
}

.chatbot__intro {
  margin-bottom: 30px;
}
.chatbot__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.chatbot__form >*:not(:last-child) {
  margin-right: 10px;
}

.chatbot__input {
  flex-grow: 1;
  padding: 10px;
}

.chatbot__submit {
  padding: 0 10px;
}

.chatbox {
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 0.1px solid var(--color-element-accent);
  padding: 10px 20px;
}

.chatbox > *:not(:last-child) {
  margin-bottom: 10px;
}

.chatbox__chat {
  border: .1px solid var(--color-element-accent);
  border-radius: 5px;
  padding: 20px 10px;
}

.chatbox__chat-prompt {
  margin-bottom: 15px;
}

.chatbox__response {
  text-align: right;
}

.chatbox__prompt-author,
.chatbox__response-author {
  color: var(--color-text-accent);
  font-style: italic;
}

.chatbox__prompt-author {
  margin-right: 8px;
}

.chatbox__response-author {
  margin-left: 8px;
}